@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card {
    color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
}

.heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 23px;
}

.para {
    font-family: "Roboto";
    font-size: 20px;
    color: #6c6b70;
}

.image {
    height: 400px;
    width: 500px;
}

.c2 {
    background-color: #1a1818;
    color: #dbdbdb;
}

.p-1 {
    margin: 5px;
}

.c1 {
    background-color: #333232;
}

.h1 {
    font-family: "Monoton";
   color: white;
   text-align: center;
}
.cimg{
    height: 650px;
    width: 1550px;
}
